@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --program-color: #7525DA;
  --team-color: #ffe921;
  --partner-color: #19bc62;
  --spenden-color: #ff8c00;
  --start-color: #2d2d2d;

  --mark-color: rgba(255, 247, 0, 0.75);
}

html {
  scroll-behavior: smooth;
  font-size: 1.1em;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}

.hl-font {
  font-family: 'Urbanist', sans-serif;
}

.lead-font {
  font-family: 'Mali', sans-serif;
}

ul {
  list-style-type: circle;
}

@media (min-width: 640px) { 
  html {
    font-size: 1.6em;
  }
}

.material-symbols-outlined {
  font-family: 'Material Icons Outlined';
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.main-headline {
  font-size: 3.5rem;
  letter-spacing: -0.05em;
  font-weight: 800;
  line-height: 0.85em;
}

@media (min-width: 640px) {
  .main-headline {
    font-size: 4rem;
  }
}

.animated-bg {
  margin: auto;
  overflow: auto;
  background: linear-gradient(315deg, rgb(243, 80, 180) 3%, rgb(255, 215, 56) 40%, rgb(11, 223, 142) 80%);
  background-position: 20% 20%;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% { 
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

dialog:modal {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

dialog[open] {
  animation: fade-in 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}